# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env

# Virtual environment
venv/
env/
.venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# Uploaded datasets (can be large)
datasets/uploads/
media/datasets/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
